<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <form id="resetPasswordForm">
            <label for="email">Email:</label>
            <div class="password-container">
                <input type="email" id="email" name="email" required>
            </div>

            <label for="newPassword">Новый пароль:</label>
            <div class="password-container">
                <input type="password" id="newPassword" name="newPassword" required>
                <i class="fa fa-eye toggle-password" data-target="newPassword"></i>
            </div>

            <label for="confirmPassword">Подтвердите новый пароль:</label>
            <div class="password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <i class="fa fa-eye toggle-password" data-target="confirmPassword"></i>
            </div>

            <div class="links">
            Вспомнили пароль? <a href="login.html" class="login-link">Назад</a>
            </div>
            <button type="submit">Сбросить пароль</button>
            <div id="error-message" class="error-message"></div>
        </form>
    </div>

    <script>
        document.querySelectorAll('.toggle-password').forEach(eyeIcon => {
            eyeIcon.addEventListener('click', function() {
                const target = document.getElementById(this.getAttribute('data-target'));
                if (target.type === 'password') {
                    target.type = 'text';
                    this.classList.remove('fa-eye');
                    this.classList.add('fa-eye-slash');
                } else {
                    target.type = 'password';
                    this.classList.remove('fa-eye-slash');
                    this.classList.add('fa-eye');
                }
            });
        });
    </script>
    <script src="forgotpassword.js"></script>
</body>
</html>
