<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" 
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <form id="resetPasswordForm">
            <label for="email">Email:</label>
            <div class="password-container">
                <input type="email" id="email" name="email" required>
            </div>

            <label for="Password">Новый пароль:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <i class="fas fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <label for="confirmPassword">Подтвердите новый пароль:</label>
            <div class="password-container">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <i class="fas fa-eye" id="toggleConfirmPassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <div class="links">
                <a href="login.html" class="login-link">Вспомнили пароль?</a>
            </div>
            <button type="submit">Сбросить пароль</button>
            <div id="error-message" class="error-message"></div>
        </form>
    </div>

    <script src="forgotpassword.js"></script>
    <script src="sneek.js"></script>
</body>
</html>