<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnakeGame</title>
    <link rel="icon" href="../img/game.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <link rel="preload" href="./Fonts/PoetsenOne-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="page-transition"></div>
    <div class="top-left-corner">
        <button id="authButton">
            <span class="material-icons">arrow_back</span>
        </button>
        <div class="slider-container">
            <div class="volume-icon">
                <span class="material-icons" id="volumeIcon">volume_up</span>
            </div>
            <input type="range" id="volumeSlider" min="0" max="100" value="100">
        </div>
    </div>
    <div class="container game-container">
        <canvas id="gameCanvas"></canvas>
    </div>

    <script src="snake.js"></script>
    <script src="game_ui.js"></script>
    <script>
        const canvas = document.getElementById('gameCanvas');
        canvas.width = 600;
        canvas.height = 680;
        const ctx = canvas.getContext('2d');
    </script>
</body>
</html>
