<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="animations.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блокировка входа</title>
    <link rel="icon" href="img/game.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Слишком много попыток входа</h2>
        <p>Пожалуйста, повторите попытку позже</p>
    </div>
    <script>
        let seconds = 60;
        
        const timer = setInterval(() => {
            seconds--;
            if(seconds <= 0) {
                clearInterval(timer);
                window.location.href = 'index.html';
            }
        }, 1000);
    </script>
</body>
</html>