<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="animations.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="icon" href="img/game.png" type="image/png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="container">
        <h2>Авторизация</h2>
        <form id="loginForm">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <i class="fas fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <div class="links">
                <div class="link-item">
                    <a href="forgotpassword.html">Забыли пароль?</a>
                </div>
                <div>
                    <a href="logup.html" class="login-link">Зарегистрироваться</a>
                </div>
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
    <div class="notification-container"></div>

    <script src="index.js"></script>
    <script src="sneek.js"></script>

</body>
</html>