<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="icon" href="img/game.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <form id="resetPasswordForm">
            <input type="hidden" id="token" name="token">
            <label for="newPassword">Новый пароль:</label>
            <input type="password" id="newPassword" required>
            <label for="confirmPassword">Подтвердите пароль:</label>
            <input type="password" id="confirmPassword" required>
            <button type="submit" class="menu-button">Сбросить пароль</button>
            <div id="reset-message"></div>
        </form>
    </div>
    <script src="reset-password.js"></script>
</body>
</html>